:root {
  --preto: #000000;
  font-family: 'Signika', sans-serif;
}

/* imgem de fundo */

body{
  height: 100vh;
  background-image: url(img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
}

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
  background: #00000020;
  border-radius: 0 0 20px 20px;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #FFFFFF;

  font-size: 2rem;
  font-weight: 700;
  font-style: italic;

  margin: 10px;
  height: 8vh;
}
nav ul li a {
  color: var(--preto);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 5px;

  
  text-decoration: none;
}

nav{

  
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 92vh;
}

nav ul li{  
  text-align: center;
  border-bottom: #000000 1PX solid;
  
  margin: 20px;
}

.container_toggle{
  display: flex;
  align-items: center;
  
}

.toggle .on{
  display: block;
}


.menu-toggle{
  display: inline-block;
  margin: 10px ;
}

.menu-toggle span{
  display: block;
  width: 32px;
  height: 4px;
  margin: 5px;

  background-color: #000000;
}


.menu-section.on nav{
  
  
}














.container{
  width: 90%;
  height: 92vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container_login{
  width: 400px;
  height: 550px;
  background: #ffffff10;

  border-radius: 10px;
  border: 1px var(--preto) solid;
  backdrop-filter: blur(1px);

}